(
.notdef,
uni0008,
uni00AD,
space,
period,
colon,
comma,
semicolon,
question,
exclam,
questiondown,
exclamdown,
quotesingle,
quotedbl,
exclamdbl,
uni2047,
uni2048,
uni2049,
twodotenleader,
ellipsis,
questiondown.case,
exclamdown.case,
question.smcp,
exclam.smcp,
questiondown.smcp,
exclamdown.smcp,
uni00A0,
uni2000,
uni2001,
uni2002,
uni2003,
uni2004,
uni2005,
uni2006,
uni2007,
uni2008,
uni2009,
uni200A,
uni200B,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
zero.tscf,
one.tscf,
two.tscf,
three.tscf,
four.tscf,
five.tscf,
six.tscf,
seven.tscf,
eight.tscf,
nine.tscf,
zero.pscf,
one.pscf,
two.pscf,
three.pscf,
four.pscf,
five.pscf,
six.pscf,
seven.pscf,
eight.pscf,
nine.pscf,
uni2080,
uni2081,
uni2082,
uni2083,
uni2084,
uni2085,
uni2086,
uni2087,
uni2088,
uni2089,
uni2070,
onesuperior,
twosuperior,
threesuperior,
uni2074,
uni2075,
uni2076,
uni2077,
uni2078,
uni2079,
fraction,
percent,
perthousand,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
uni2155,
uni2156,
uni2157,
uni2158,
uni2159,
uni215A,
uni2150,
twosuperior_slash_seven.superior,
threesuperior_slash_seven.superior,
four.superior_slash_seven.superior,
five.superior_slash_seven.superior,
six.superior_slash_seven.superior,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
uni2151,
twosuperior_slash_nine.superior,
four.superior_slash_nine.superior,
five.superior_slash_nine.superior,
seven.superior_slash_nine.superior,
eight.superior_slash_nine.superior,
zero.inferior.smcp,
fraction.smcp,
percent.smcp,
perthousand.smcp,
dollar,
cent,
sterling,
yen,
Euro,
dong,
uni20B8,
uni20B9,
uni20AE,
uni20B1,
uni20B2,
uni20B4,
uni20A9,
uni20B5,
uni20BA,
uni20AA,
colonmonetary,
uni20A6,
uni20AD,
uni20A0,
uni20A2,
uni20A5,
uni20A8,
currency,
florin.crcy,
uni20B0,
uni20B6,
uni20B7,
uni20B3,
franc,
lira,
peseta,
uni20AF,
dollar.smcp,
cent.smcp,
sterling.smcp,
yen.smcp,
dong.smcp,
uni20B8.smcp,
uni20B9.smcp,
uni20AE.smcp,
uni20B1.smcp,
uni20B2.smcp,
uni20B4.smcp,
uni20B5.smcp,
uni20BA.smcp,
uni20AA.smcp,
colonmonetary.smcp,
uni20AD.smcp,
uni20A0.smcp,
uni20A2.smcp,
uni20A8.smcp,
florin.crcy.smcp,
asciicircum,
plus,
minus,
plusminus,
equal,
notequal,
divide,
less,
greater,
lessequal,
greaterequal,
asciitilde,
approxequal,
multiply,
asteriskmath,
uni2236,
underscore,
underscoredbl,
section,
degree,
uni03BC,
paragraph,
numbersign,
periodcentered,
bar,
brokenbar,
dagger,
daggerdbl,
logicalnot,
uni203B,
hyphen,
endash,
emdash,
parenleft,
parenright,
slash,
backslash,
bracketleft,
bracketright,
braceleft,
braceright,
bullet,
guilsinglleft,
guilsinglright,
guillemotleft,
guillemotright,
at,
ampersand,
asterisk,
hyphen.case,
endash.case,
emdash.case,
parenleft.case,
parenright.case,
slash.case,
backslash.case,
bracketleft.case,
bracketright.case,
braceleft.case,
braceright.case,
bullet.case,
guilsinglleft.case,
guilsinglright.case,
guillemotleft.case,
guillemotright.case,
at.case,
softhyphen,
uni2015,
parenleft.smcp,
parenright.smcp,
slash.smcp,
backslash.smcp,
bracketleft.smcp,
bracketright.smcp,
braceleft.smcp,
braceright.smcp,
ampersand.smcp,
asterisk.smcp,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
a.smcp,
b.smcp,
c.smcp,
d.smcp,
e.smcp,
f.smcp,
g.smcp,
h.smcp,
i.smcp,
j.smcp,
k.smcp,
l.smcp,
m.smcp,
n.smcp,
o.smcp,
p.smcp,
q.smcp,
r.smcp,
s.smcp,
t.smcp,
u.smcp,
v.smcp,
w.smcp,
x.smcp,
y.smcp,
z.smcp,
uni2121,
uni2120,
trademark,
uni1D9C,
uni207F,
uni1D52,
uni2105,
ordfeminine,
ordmasculine,
uni2116,
u1D4C1,
estimated,
copyright,
registered,
partialdiff,
product,
summation,
uni2215,
uni2219,
radical,
infinity,
integral,
lozenge,
uni2206,
uni2103,
uni2109,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
quotereversed,
uni201F,
quoteleft.smcp,
quoteright.smcp,
quotedblleft.smcp,
quotedblright.smcp,
quotereversed.smcp,
uni201F.smcp,
uni02BB,
uni02BC,
uni02BD,
minute,
second,
uni2035,
uni0329,
dotlessi,
uni0237,
dotlessi.smcp,
IJ,
Ldot,
ij,
ldot,
napostrophe,
f_f,
fi,
fl,
f_f_i,
f_f_l,
ij.smcp,
ldot.smcp,
Thorn,
Alpha,
uni0190,
Gamma,
uni01A9,
Upsilon,
uni01B2,
uni01B7,
AE,
OE,
Germandbls,
thorn,
alpha,
uni025B,
gamma,
uni0283,
upsilon,
uni028B,
uni0292,
ae,
oe,
germandbls,
longs,
kgreenlandic,
thorn.smcp,
ae.smcp,
oe.smcp,
germandbls.smcp,
Germandbls.c2sc,
uni0181,
uni0187,
uni018A,
uni0189,
uni0191,
uni0193,
uniA7AA,
Iota,
uni0198,
Eng,
uni019D,
uni01A4,
uni2C64,
uni01AE,
uni2C72,
uni01B3,
uni0253,
uni0188,
uni0257,
uni0256,
florin,
uni0260,
uni0266,
iota,
uni0199,
eng,
uni0272,
uni01A5,
uniAB49,
uni0288,
uni2C73,
uni01B4,
eng.smcp,
uni0186,
uni018F,
uni018E,
uniA78D,
uni0245,
uni0254,
uni0259,
uni01DD,
uni0265,
uni028C,
Eth,
Dcroat,
Hbar,
uni0197,
uni019F,
uni0244,
Tbar,
Lslash,
Oslash,
eth,
dcroat,
hbar,
uni0268.dotless,
uni0268,
uni0275,
uni0289,
tbar,
lslash,
oslash,
eth.smcp,
dcroat.smcp,
hbar.smcp,
uni0268.smcp,
uni0275.smcp,
uni0289.smcp,
tbar.smcp,
lslash.smcp,
oslash.smcp,
uni0327,
uni0327.cap,
cedilla,
uni0328,
uni0328.cap,
ogonek,
Ccedilla,
uni1E28,
Scedilla,
uni0162,
Aogonek,
Eogonek,
Iogonek,
Uogonek,
ccedilla,
uni1E29,
scedilla,
uni0163,
aogonek,
eogonek,
iogonek.dotless,
iogonek,
uogonek,
ccedilla.smcp,
uni1E29.smcp,
scedilla.smcp,
uni0163.smcp,
aogonek.smcp,
eogonek.smcp,
iogonek.smcp,
uogonek.smcp,
acutecomb,
acutecomb.cap,
acutecomb.smcp,
uni02CA,
acute,
uni030B,
uni030B.cap,
uni030B.smcp,
hungarumlaut,
Aacute,
Cacute,
Eacute,
uni01F4,
Iacute,
Lacute,
uni1E3E,
Nacute,
Oacute,
Racute,
Sacute,
Uacute,
Wacute,
Yacute,
Zacute,
AEacute,
Oslashacute,
Ohungarumlaut,
Uhungarumlaut,
aacute,
cacute,
eacute,
uni01F5,
iacute,
lacute,
uni1E3F,
nacute,
oacute,
racute,
sacute,
uacute,
wacute,
yacute,
zacute,
aeacute,
oslashacute,
ohungarumlaut,
uhungarumlaut,
aacute.smcp,
cacute.smcp,
eacute.smcp,
uni01F5.smcp,
iacute.smcp,
lacute.smcp,
uni1E3F.smcp,
nacute.smcp,
oacute.smcp,
racute.smcp,
sacute.smcp,
uacute.smcp,
wacute.smcp,
yacute.smcp,
zacute.smcp,
aeacute.smcp,
oslashacute.smcp,
ohungarumlaut.smcp,
uhungarumlaut.smcp,
gravecomb,
gravecomb.cap,
gravecomb.smcp,
uni02CB,
grave,
Agrave,
Egrave,
Igrave,
Ograve,
Ugrave,
Wgrave,
Ygrave,
agrave,
egrave,
igrave,
ograve,
ugrave,
wgrave,
ygrave,
agrave.smcp,
egrave.smcp,
igrave.smcp,
ograve.smcp,
ugrave.smcp,
wgrave.smcp,
ygrave.smcp,
uni0302,
uni0302.cap,
uni0302.asc,
circumflex,
tildecomb,
tildecomb.cap,
tildecomb.asc,
tilde,
Acircumflex,
Ccircumflex,
Ecircumflex,
Gcircumflex,
Hcircumflex,
Icircumflex,
Jcircumflex,
Ocircumflex,
Scircumflex,
Ucircumflex,
Wcircumflex,
Ycircumflex,
Atilde,
uni1EBC,
Itilde,
Ntilde,
Otilde,
Utilde,
uni1EF8,
acircumflex,
ccircumflex,
ecircumflex,
gcircumflex,
hcircumflex,
icircumflex,
jcircumflex,
ocircumflex,
scircumflex,
ucircumflex,
wcircumflex,
ycircumflex,
atilde,
uni1EBD,
itilde,
ntilde,
otilde,
utilde,
uni1EF9,
acircumflex.smcp,
ccircumflex.smcp,
ecircumflex.smcp,
gcircumflex.smcp,
hcircumflex.smcp,
icircumflex.smcp,
jcircumflex.smcp,
ocircumflex.smcp,
scircumflex.smcp,
ucircumflex.smcp,
wcircumflex.smcp,
ycircumflex.smcp,
atilde.smcp,
uni1EBD.smcp,
itilde.smcp,
ntilde.smcp,
otilde.smcp,
utilde.smcp,
uni1EF9.smcp,
uni030C,
uni030C.cap,
caron,
uni0315,
uni0315.short,
uni0304,
uni0304.cap,
uni0304.narrow,
uni0304.narrow.cap,
uni02C9,
macron,
uni01CD,
Ccaron,
Dcaron,
Ecaron,
Gcaron,
uni01CF,
Lcaron,
Ncaron,
uni01D1,
Rcaron,
Scaron,
Tcaron,
uni01D3,
Zcaron,
Amacron,
Emacron,
Imacron,
Omacron,
Umacron,
uni01CE,
ccaron,
dcaron,
ecaron,
gcaron,
uni01D0,
lcaron,
ncaron,
uni01D2,
rcaron,
scaron,
tcaron,
uni01D4,
zcaron,
amacron,
emacron,
imacron,
omacron,
umacron,
uni01CE.smcp,
ccaron.smcp,
dcaron.smcp,
ecaron.smcp,
gcaron.smcp,
uni01D0.smcp,
lcaron.smcp,
ncaron.smcp,
uni01D2.smcp,
rcaron.smcp,
scaron.smcp,
tcaron.smcp,
uni01D4.smcp,
zcaron.smcp,
amacron.smcp,
emacron.smcp,
imacron.smcp,
omacron.smcp,
umacron.smcp,
uni0308,
uni0308.cap,
uni0308.narrow,
uni0308.narrow.cap,
dieresis,
uni0306,
uni0306.cap,
breve,
Adieresis,
Edieresis,
Idieresis,
Odieresis,
Udieresis,
Wdieresis,
Ydieresis,
Abreve,
Ebreve,
Gbreve,
Ibreve,
Obreve,
Ubreve,
adieresis,
edieresis,
idieresis,
odieresis,
udieresis,
wdieresis,
ydieresis,
abreve,
ebreve,
gbreve,
ibreve,
obreve,
ubreve,
adieresis.smcp,
edieresis.smcp,
idieresis.smcp,
odieresis.smcp,
udieresis.smcp,
wdieresis.smcp,
ydieresis.smcp,
abreve.smcp,
ebreve.smcp,
gbreve.smcp,
ibreve.smcp,
obreve.smcp,
ubreve.smcp,
uni0307,
uni0307.cap,
dotaccent,
hookabovecomb,
hookabovecomb.cap,
Edotaccent,
Idotaccent,
Cdotaccent,
Gdotaccent,
uni1E44,
Zdotaccent,
uni1EA2,
uni1EBA,
uni1EC8,
uni1ECE,
uni1EE6,
uni1EF6,
edotaccent,
i.locl,
cdotaccent,
gdotaccent,
uni1E45,
zdotaccent,
uni1EA3,
uni1EBB,
uni1EC9,
uni1ECF,
uni1EE7,
uni1EF7,
edotaccent.smcp,
i.locl.1,
cdotaccent.smcp,
gdotaccent.smcp,
uni1E45.smcp,
zdotaccent.smcp,
dotbelowcomb,
dotbelowcomb.cap,
commaaccentcomb,
uni0326.cap,
uni0312,
uni0326,
uni1EA0,
uni1EB8,
uni1ECA,
uni1ECC,
uni1E62,
uni1EE4,
uni1EF4,
uni1E10,
uni0122,
uni0136,
uni013B,
uni0145,
uni0156,
uni0218,
uni021A,
uni1EA1,
uni1EB9,
uni1ECB,
uni1ECD,
uni1E63,
uni1EE5,
uni1EF5,
uni1E11,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni0219,
uni021B,
uni1EA1.smcp,
uni1EB9.smcp,
uni1ECB.smcp,
uni1ECD.smcp,
uni1E63.smcp,
uni1EE5.smcp,
uni1EF5.smcp,
uni1E11.smcp,
uni0123.smcp,
uni0137.smcp,
uni013C.smcp,
uni0146.smcp,
uni0157.smcp,
uni0219.smcp,
uni021B.smcp,
uni030A,
uni030A.cap,
ring,
uni030A_acutecomb,
Aring,
Uring,
uni212B,
Aringacute,
aring,
uring,
aringacute,
aring.smcp,
uring.smcp,
aringacute.smcp,
uni031B,
Ohorn,
Uhorn,
uni1EDA,
uni1EE8,
uni1EDC,
uni1EEA,
uni1EDE,
uni1EEC,
uni1EE0,
uni1EEE,
uni1EE2,
uni1EF0,
ohorn,
uhorn,
uni1EDB,
uni1EE9,
uni1EDD,
uni1EEB,
uni1EDF,
uni1EED,
uni1EE1,
uni1EEF,
uni1EE3,
uni1EF1,
A.short,
E.short,
O.short,
uni0302_acutecomb,
uni0302_acutecomb.cap,
uni0302_gravecomb,
uni0302_gravecomb.cap,
uni0302_hookabovecomb,
uni0302_hookabovecomb.cap,
uni0302_tildecomb,
uni0302_tildecomb.cap,
uni1EA4,
uni1EBE,
uni1ED0,
uni1EA6,
uni1EC0,
uni1ED2,
uni1EA8,
uni1EC2,
uni1ED4,
uni1EAA,
uni1EC4,
uni1ED6,
uni1EAC,
uni1EC6,
uni1ED8,
uni1EA5,
uni1EBF,
uni1ED1,
uni1EA7,
uni1EC1,
uni1ED3,
uni1EA9,
uni1EC3,
uni1ED5,
uni1EAB,
uni1EC5,
uni1ED7,
uni1EAD,
uni1EC7,
uni1ED9,
uni0306_acutecomb,
uni0306_acutecomb.cap,
uni0306_gravecomb,
uni0306_gravecomb.cap,
uni0306_hookabovecomb,
uni0306_hookabovecomb.cap,
uni0306_tildecomb,
uni0306_tildecomb.cap,
uni1EAE,
uni1EB0,
uni1EB2,
uni1EB4,
uni1EB6,
uni1EAF,
uni1EB1,
uni1EB3,
uni1EB5,
uni1EB7,
uni0307_gravecomb,
uni0307_gravecomb.cap,
uni0307_acutecomb,
uni0307_acutecomb.cap,
uni0307_tildecomb,
uni0307_tildecomb.cap,
uni0304_acutecomb,
uni0304_acutecomb.cap,
uni0304_tildecomb,
uni0304_tildecomb.cap,
uni0410,
uni0411,
uni0412,
uni0413,
uni0414,
uni0415,
uni0416,
uni0417,
uni0418,
uni041A,
uni041B,
uni041C,
uni041D,
uni041E,
uni041F,
uni0420,
uni0421,
uni0422,
uni0423,
uni0424,
uni0425,
uni0426,
uni0427,
uni0428,
uni0429,
uni042A,
uni042B,
uni042C,
uni042D,
uni042E,
uni042F,
uni0430,
uni0431,
uni0432,
uni0433,
uni0434,
uni0435,
uni0436,
uni0437,
uni0438,
uni043A,
uni043B,
uni043C,
uni043D,
uni043E,
uni043F,
uni0440,
uni0441,
uni0442,
uni0443,
uni0444,
uni0445,
uni0446,
uni0447,
uni0448,
uni0449,
uni044A,
uni044B,
uni044C,
uni044D,
uni044E,
uni044F,
uni04D4,
uni0404,
uni04D8,
uni04BA,
uni0406,
uni04C0,
uni0408,
uni0405,
uni04E0,
uni0510,
uni0409,
uni040A,
uni040B,
uni0402,
uni040F,
uni0490,
uni04BC,
uni04A8,
uni04AE,
uni04D5,
uni0454,
uni04D9,
uni04BB,
uni0456,
uni04CF,
uni0458,
uni0455,
uni04E1,
uni0511,
uni0459,
uni045A,
uni045B,
uni0452,
uni045F,
uni0491,
uni04BD,
uni04A9,
uni04AF,
uni0431.locl,
uni0456.dotless,
uni04F6,
uni0496,
uni049A,
uni04A2,
uni04AC,
uni04B2,
uni04B6,
uni04B4,
uni04CB,
uni0524,
uni0498,
uni04AA,
uni04BE,
uni04C5,
uni04CD,
uni04C9,
uni04F7,
uni0497,
uni049B,
uni04A3,
uni04AD,
uni04B3,
uni04B7,
uni04B5,
uni04CC,
uni0525,
uni0499,
uni04AB,
uni04BF,
uni04C6,
uni04CE,
uni04CA,
uni048C,
uni0492,
uni049E,
uni04B0,
uni04E8,
uni04FE,
uni04FA,
uni049C,
uni04B8,
uni048E,
uni048D,
uni0493,
uni049F,
uni04B1,
uni04E9,
uni04FF,
uni04FB,
uni049D,
uni04B9,
uni048F,
uni04A0,
uni04A4,
uni04C3,
uni0512,
uni04FC,
uni04C7,
uni0494,
uni04A6,
uni04A1,
uni04A5,
uni04C4,
uni0513,
uni04FD,
uni04C8,
uni0495,
uni04A7,
uni04D2,
uni0401,
uni04DA,
uni04E4,
uni0407,
uni04DC,
uni04DE,
uni04E6,
uni04EA,
uni04EC,
uni04F0,
uni04F4,
uni04F8,
uni0403,
uni040C,
uni0400,
uni040D,
uni04D3,
uni0451,
uni04DB,
uni04E5,
uni0457,
uni04DD,
uni04DF,
uni04E7,
uni04EB,
uni04ED,
uni04F1,
uni04F5,
uni04F9,
uni0453,
uni045C,
uni0450,
uni045D,
uni0306.cyrl,
uni0306.cyrl.cap,
uni048A.comp,
uni048B.comp,
uni04D0,
uni04D6,
uni04C1,
uni0419,
uni040E,
uni048A,
uni04E2,
uni04EE,
uni04F2,
uni04D1,
uni04D7,
uni04C2,
uni0439,
uni045E,
uni048B,
uni04E3,
uni04EF,
uni04F3,
Alpha-grek,
Beta,
Gamma-grek,
uni0394,
Epsilon,
Zeta,
Eta,
Theta,
Iota-grek,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon-grek,
Phi,
Chi,
Psi,
uni03A9,
uni2126,
alpha-grek,
beta,
gamma-grek,
delta,
epsilon,
zeta,
eta,
theta,
iota-grek,
kappa,
lambda,
mu-grek,
nu,
xi,
omicron,
pi,
rho,
uni03C2,
sigma,
tau,
upsilon-grek,
phi,
chi,
psi,
omega,
uni03D1,
uni03D2,
uni03D5,
uni03D6,
anoteleia,
Iotadieresis,
Upsilondieresis,
iotadieresis,
upsilondieresis,
acutecomb.grek,
acutecomb.grek.cap,
tonos,
uni0344,
dieresistonos,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
omicrontonos,
upsilontonos,
omegatonos,
iotadieresistonos,
upsilondieresistonos,
reversedcommacomb_acutecomb.grek.cap,
uni1F4D,
uni25CC,
uni200C,
uni200D,
uni200E,
uni200F,
uni202A,
uni202B,
uni202C,
uni202D,
uni202E,
uniFFFC,
uniFEFF,
uniFFFD,
at.smcp,
)
