(
.notdef,
space,
uni0008,
uni00AD,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemotleft,
logicalnot,
softhyphen,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
uni03BC,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemotright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex,
gcircumflex,
Gbreve,
gbreve,
Gdotaccent,
gdotaccent,
Gcommaaccent,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
dotlessi,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute,
Lcommaaccent,
lcommaaccent,
Lcaron,
lcaron,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
napostrophe,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcedilla,
tcedilla,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
longs,
Bhook,
Oopen,
Chook,
chook,
Dafrican,
Dhook,
Ereversed,
Schwa,
Eopen,
Fhook,
florin,
Ghook,
Gamma,
Iota,
Istroke,
Khook,
khook,
Nhookleft,
Obar,
Ohorn,
ohorn,
Phook,
phook,
Esh,
Tretroflexhook,
Uhorn,
uhorn,
Upsilon,
Vhook,
Yhook,
yhook,
Ezh,
Acaron,
acaron,
Icaron,
icaron,
Ocaron,
ocaron,
Ucaron,
ucaron,
eturned,
Gcaron,
gcaron,
Gacute,
gacute,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
dotlessj,
Ubar,
Vturned,
alpha,
bhook,
oopen,
dtail,
dhook,
schwa,
eopen,
ghook,
gamma,
hturned,
hhook,
istroke,
iota,
nhookleft,
obarred,
rtail,
esh,
tretroflexhook,
ubar,
upsilon,
vhook,
vturned,
ezh,
commaturnedmod,
apostrophemod,
commareversedmod,
circumflex,
caron,
macronmod,
acutemod,
gravemod,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
commaturnedabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
vlinebelowcomb,
dialytikatonoscomb,
tonos,
dieresistonos,
Alphatonos,
anoteleia,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha-grek,
Beta,
Gamma-grek,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota-grek,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon-grek,
Phi,
Chi,
Psi,
Omega,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha-grek,
beta,
gamma-grek,
delta,
epsilon,
zeta,
eta,
theta,
iota-grek,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon-grek,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
theta.math,
Upsilonhooksymbol,
phisymbol,
pisymbol,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Ishortsharptailcyr,
ishortsharptailcyr,
Semisoftcyr,
semisoftcyr,
Ertickcyr,
ertickcyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Gehookcyr,
gehookcyr,
Zhetailcyr,
zhetailcyr,
Zetailcyr,
zetailcyr,
Katailcyr,
katailcyr,
Kaverticalstrokecyr,
kaverticalstrokecyr,
Kastrokecyr,
kastrokecyr,
Kabashkcyr,
kabashkcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Pehookcyr,
pehookcyr,
Haabkhcyr,
haabkhcyr,
Estailcyr,
estailcyr,
Tetailcyr,
tetailcyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Tetsecyr,
tetsecyr,
Chetailcyr,
chetailcyr,
Chevertcyr,
chevertcyr,
Shhacyr,
shhacyr,
Cheabkhcyr,
cheabkhcyr,
Cheabkhtailcyr,
cheabkhtailcyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
Kahookcyr,
kahookcyr,
Elsharptailcyr,
elsharptailcyr,
Enhookcyr,
enhookcyr,
Ensharptailcyr,
ensharptailcyr,
Chekhakascyr,
chekhakascyr,
Emsharptailcyr,
emsharptailcyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Adieresiscyr,
adieresiscyr,
Aiecyr,
aiecyr,
Iebrevecyr,
iebrevecyr,
Schwacyr,
schwacyr,
Schwadieresiscyr,
schwadieresiscyr,
Zhedieresiscyr,
zhedieresiscyr,
Zedieresiscyr,
zedieresiscyr,
Dzeabkhcyr,
dzeabkhcyr,
Imacroncyr,
imacroncyr,
Idieresiscyr,
idieresiscyr,
Odieresiscyr,
odieresiscyr,
Obarcyr,
obarcyr,
Obardieresiscyr,
obardieresiscyr,
Ereverseddieresiscyr,
ereverseddieresiscyr,
Umacroncyr,
umacroncyr,
Udieresiscyr,
udieresiscyr,
Uacutedblcyr,
uacutedblcyr,
Chedieresiscyr,
chedieresiscyr,
Getailcyr,
getailcyr,
Ylongdieresiscyr,
ylongdieresiscyr,
Gehookstrokecyr,
gehookstrokecyr,
Hahookcyr,
hahookcyr,
Hastrokecyr,
hastrokecyr,
Reversedzecyr,
reversedzecyr,
Elhookcyr,
elhookcyr,
Petailcyr,
petailcyr,
omod,
cmod,
Dcedilla,
dcedilla,
Hcedilla,
hcedilla,
Macute,
macute,
Ndot,
ndot,
Sdotbelow,
sdotbelow,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Germandbls,
Adotbelow,
adotbelow,
Ahoi,
ahoi,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhoi,
acircumflexhoi,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehoi,
abrevehoi,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehoi,
ehoi,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhoi,
ecircumflexhoi,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihoi,
ihoi,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohoi,
ohoi,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhoi,
ocircumflexhoi,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhoi,
ohornhoi,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhoi,
uhoi,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhoi,
uhornhoi,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhoi,
yhoi,
Ytilde,
ytilde,
Omicronasperacute,
enquad,
emquad,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
endash,
emdash,
horizontalbar,
underscoredbl,
quoteleft,
quoteright,
quotesinglbase,
quotereversed,
quotedblleft,
quotedblright,
quotedblbase,
quotedblreversed,
dagger,
daggerdbl,
bullet,
twodotenleader,
ellipsis,
lefttorightembed,
righttoleftembed,
popdirectionalformatting,
lefttorightoverride,
righttoleftoverride,
perthousand,
minute,
second,
minutereversed,
guilsinglleft,
guilsinglright,
referencemark,
exclamdbl,
fraction,
questiondbl,
questionexclamationmark,
exclamationquestion,
zero.superior,
four.superior,
five.superior,
six.superior,
seven.superior,
eight.superior,
nine.superior,
n.superior,
zero.inferior,
one.inferior,
two.inferior,
three.inferior,
four.inferior,
five.inferior,
six.inferior,
seven.inferior,
eight.inferior,
nine.inferior,
euroarchaic,
colonmonetary,
cruzeiro,
franc,
lira,
mill,
naira,
peseta,
rupee,
won,
newsheqel,
dong,
Euro,
kip,
tugrik,
drachma,
germanpenny,
peso,
guarani,
austral,
hryvnia,
cedi,
livretournois,
spesmilo,
tenge,
indianrupee,
turkishlira,
degreecelsius,
careof,
degreefahrenheit,
lscript,
numero,
servicemark,
telephone,
trademark,
Ohm,
angstrom,
estimated,
oneseventh,
oneninth,
onethird,
twothirds,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
partialdiff,
increment,
product,
summation,
minus,
divisionslash,
asteriskmath,
bulletoperator,
radical,
infinity,
integral,
ratio,
approxequal,
notequal,
lessequal,
greaterequal,
lozenge,
circledotted,
Rtail,
Alpha,
Whook,
whook,
Hturned,
Hhook,
twosuperior_slash_seven.superior,
threesuperior_slash_seven.superior,
four.superior_slash_seven.superior,
five.superior_slash_seven.superior,
six.superior_slash_seven.superior,
twosuperior_slash_nine.superior,
four.superior_slash_nine.superior,
five.superior_slash_nine.superior,
seven.superior_slash_nine.superior,
eight.superior_slash_nine.superior,
a.smcp,
b.smcp,
c.smcp,
d.smcp,
e.smcp,
f.smcp,
g.smcp,
h.smcp,
i.smcp,
j.smcp,
k.smcp,
l.smcp,
m.smcp,
n.smcp,
o.smcp,
p.smcp,
q.smcp,
r.smcp,
s.smcp,
t.smcp,
u.smcp,
v.smcp,
w.smcp,
x.smcp,
y.smcp,
z.smcp,
ae.smcp,
eng.smcp,
oe.smcp,
eth.smcp,
hbar.smcp,
ij.smcp,
i.locl.1,
dotlessi.smcp,
oslash.smcp,
thorn.smcp,
tbar.smcp,
lslash.smcp,
ampersand.smcp,
germandbls.smcp,
dollar.smcp,
cent.smcp,
sterling.smcp,
yen.smcp,
exclam.smcp,
question.smcp,
questiondown.smcp,
exclamdown.smcp,
abreve.smcp,
amacron.smcp,
aogonek.smcp,
agrave.smcp,
aacute.smcp,
acircumflex.smcp,
atilde.smcp,
adieresis.smcp,
aring.smcp,
cacute.smcp,
ccaron.smcp,
cdotaccent.smcp,
ccircumflex.smcp,
ccedilla.smcp,
dcaron.smcp,
dcroat.smcp,
egrave.smcp,
eacute.smcp,
ecircumflex.smcp,
edieresis.smcp,
ecaron.smcp,
edotaccent.smcp,
emacron.smcp,
eogonek.smcp,
ebreve.smcp,
gbreve.smcp,
gcommaaccent.smcp,
gdotaccent.smcp,
gcircumflex.smcp,
hcircumflex.smcp,
igrave.smcp,
iacute.smcp,
icircumflex.smcp,
idieresis.smcp,
imacron.smcp,
iogonek.smcp,
itilde.smcp,
ibreve.smcp,
jcircumflex.smcp,
kcommaaccent.smcp,
lacute.smcp,
lcaron.smcp,
lcommaaccent.smcp,
ldot.smcp,
nacute.smcp,
ntilde.smcp,
ncaron.smcp,
ncommaaccent.smcp,
ograve.smcp,
oacute.smcp,
ocircumflex.smcp,
otilde.smcp,
odieresis.smcp,
ohungarumlaut.smcp,
omacron.smcp,
obreve.smcp,
racute.smcp,
rcaron.smcp,
rcommaaccent.smcp,
sacute.smcp,
scommaaccent.smcp,
scedilla.smcp,
scaron.smcp,
scircumflex.smcp,
tcaron.smcp,
tcommaaccent.smcp,
uhungarumlaut.smcp,
ugrave.smcp,
uacute.smcp,
ucircumflex.smcp,
udieresis.smcp,
umacron.smcp,
uogonek.smcp,
uring.smcp,
utilde.smcp,
ubreve.smcp,
wgrave.smcp,
wacute.smcp,
wcircumflex.smcp,
wdieresis.smcp,
ygrave.smcp,
yacute.smcp,
ycircumflex.smcp,
ydieresis.smcp,
zdotaccent.smcp,
zacute.smcp,
zcaron.smcp,
percent.smcp,
perthousand.smcp,
slash.smcp,
backslash.smcp,
at.smcp,
parenleft.smcp,
parenright.smcp,
braceleft.smcp,
braceright.smcp,
bracketleft.smcp,
bracketright.smcp,
asterisk.smcp,
quoteleft.smcp,
quoteright.smcp,
quotedblleft.smcp,
quotedblright.smcp,
uni0326,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
zero.tscf,
one.tscf,
two.tscf,
three.tscf,
four.tscf,
five.tscf,
six.tscf,
seven.tscf,
eight.tscf,
nine.tscf,
zero.pscf,
one.pscf,
two.pscf,
three.pscf,
four.pscf,
five.pscf,
six.pscf,
seven.pscf,
eight.pscf,
nine.pscf,
f_f,
fi,
fl,
f_f_i,
f_f_l,
zerowidthnobreakspace,
replacementcharobj,
replacementchar,
parenleft.case,
parenright.case,
hyphen.case,
slash.case,
zero.inferior.smcp,
at.case,
A.short,
E.short,
O.short,
bracketleft.case,
backslash.case,
bracketright.case,
i.locl,
braceleft.case,
braceright.case,
exclamdown.case,
guillemotleft.case,
guillemotright.case,
questiondown.case,
Idieresis.calt,
Idieresis.calt2,
idieresis.calt,
idieresis.calt2,
iogonek.dotless,
tcedilla.smcp,
florin.crcy,
florin.crcy.smcp,
acaron.smcp,
icaron.smcp,
ocaron.smcp,
ucaron.smcp,
gcaron.smcp,
gacute.smcp,
aringacute.smcp,
aeacute.smcp,
oslashacute.smcp,
istroke.dotless,
istroke.smcp,
obarred.smcp,
ubar.smcp,
gravecomb.cap,
gravecomb.smcp,
acutecomb.cap,
acutecomb.grek,
acutecomb.grek.cap,
acutecomb.smcp,
circumflexcomb_acutecomb,
circumflexcomb_acutecomb.cap,
circumflexcomb.asc,
circumflexcomb.cap,
circumflexcomb_gravecomb,
circumflexcomb_gravecomb.cap,
circumflexcomb_hookabovecomb,
circumflexcomb_hookabovecomb.cap,
circumflexcomb_tildecomb,
circumflexcomb_tildecomb.cap,
tildecomb.asc,
tildecomb.cap,
macroncomb_acutecomb,
macroncomb_acutecomb.cap,
macroncomb.cap,
macroncomb.narrow,
macroncomb.narrow.cap,
macroncomb_tildecomb,
macroncomb_tildecomb.cap,
brevecomb_acutecomb,
brevecomb_acutecomb.cap,
brevecomb.cap,
brevecomb.cyrl,
brevecomb.cyrl.cap,
brevecomb_gravecomb,
brevecomb_gravecomb.cap,
brevecomb_hookabovecomb,
brevecomb_hookabovecomb.cap,
brevecomb_tildecomb,
brevecomb_tildecomb.cap,
dotaccentcomb_acutecomb,
dotaccentcomb_acutecomb.cap,
dotaccentcomb.cap,
dotaccentcomb_gravecomb,
dotaccentcomb_gravecomb.cap,
dotaccentcomb_tildecomb,
dotaccentcomb_tildecomb.cap,
dieresiscomb.cap,
dieresiscomb.narrow,
dieresiscomb.narrow.cap,
hookabovecomb.cap,
ringcomb_acutecomb,
ringcomb.cap,
hungarumlautcomb.cap,
hungarumlautcomb.smcp,
caroncomb.cap,
commaaboverightcomb.short,
dotbelowcomb.cap,
commaaccentcomb.cap,
cedillacomb.cap,
ogonekcomb.cap,
Iocyr_acutecomb,
Eukrcyr_acutecomb,
Iukrcyr_acutecomb,
Acyr_acutecomb,
Decyr.loclBGR,
Iecyr_acutecomb,
Icyr_acutecomb,
Elcyr.loclBGR,
Ocyr_acutecomb,
Ucyr_acutecomb,
Ylongcyr_acutecomb,
Yucyr_acutecomb,
Yacyr_acutecomb,
acyr_acutecomb,
becyr.locl,
vecyr.loclBGR,
gecyr.loclBGR,
decyr.loclBGR,
iecyr_acutecomb,
zhecyr.loclBGR,
zecyr.loclBGR,
icyr_acutecomb,
icyr.loclBGR,
ishortcyr.loclBGR,
kacyr.loclBGR,
elcyr.loclBGR,
ocyr_acutecomb,
pecyr.loclBGR,
tecyr.loclBGR,
ucyr_acutecomb,
tsecyr.loclBGR,
shacyr.loclBGR,
shchacyr.loclBGR,
hardcyr.loclBGR,
ylongcyr_acutecomb,
softcyr.loclBGR,
yucyr_acutecomb,
yucyr.loclBGR,
yacyr_acutecomb,
iocyr_acutecomb,
eukrcyr_acutecomb,
iukrcyr_acutecomb,
iukrcyr.dotless,
igravecyr.loclBGR,
Ishortsharptailcyr.comp,
ishortsharptailcyr.comp,
Semisoftcyr_acutecomb,
semisoftcyr_acutecomb,
dcedilla.smcp,
hcedilla.smcp,
macute.smcp,
ndot.smcp,
sdotbelow.smcp,
Germandbls.c2sc,
adotbelow.smcp,
edotbelow.smcp,
etilde.smcp,
idotbelow.smcp,
odotbelow.smcp,
udotbelow.smcp,
ydotbelow.smcp,
ytilde.smcp,
endash.case,
emdash.case,
quotereversed.smcp,
quotedblreversed.smcp,
bullet.case,
guilsinglleft.case,
guilsinglright.case,
fraction.smcp,
euroarchaic.smcp,
colonmonetary.smcp,
cruzeiro.smcp,
rupee.smcp,
newsheqel.smcp,
dong.smcp,
kip.smcp,
tugrik.smcp,
peso.smcp,
guarani.smcp,
hryvnia.smcp,
cedi.smcp,
tenge.smcp,
indianrupee.smcp,
turkishlira.smcp,
reversedcommacomb_acutecomb.grek.cap,
)
