(
.notdef,
.null,
nonmarkingreturn,
space,
period,
colon,
comma,
semicolon,
question,
exclam,
questiondown,
exclamdown,
quotesingle,
quotedbl,
exclamdbl,
questiondbl,
questionexclamationmark,
exclamationquestion,
twodotenleader,
ellipsis,
questiondown.case,
exclamdown.case,
question.smcp,
exclam.smcp,
questiondown.smcp,
exclamdown.smcp,
nbspace,
enquad,
emquad,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
zero.tscf,
one.tscf,
two.tscf,
three.tscf,
four.tscf,
five.tscf,
six.tscf,
seven.tscf,
eight.tscf,
nine.tscf,
zero.pscf,
one.pscf,
two.pscf,
three.pscf,
four.pscf,
five.pscf,
six.pscf,
seven.pscf,
eight.pscf,
nine.pscf,
zero.inferior,
one.inferior,
two.inferior,
three.inferior,
four.inferior,
five.inferior,
six.inferior,
seven.inferior,
eight.inferior,
nine.inferior,
zero.superior,
onesuperior,
twosuperior,
threesuperior,
four.superior,
five.superior,
six.superior,
seven.superior,
eight.superior,
nine.superior,
fraction,
percent,
perthousand,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
twosuperior_slash_seven.superior,
threesuperior_slash_seven.superior,
four.superior_slash_seven.superior,
five.superior_slash_seven.superior,
six.superior_slash_seven.superior,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
twosuperior_slash_nine.superior,
four.superior_slash_nine.superior,
five.superior_slash_nine.superior,
seven.superior_slash_nine.superior,
eight.superior_slash_nine.superior,
zero.inferior.smcp,
fraction.smcp,
percent.smcp,
perthousand.smcp,
dollar,
cent,
sterling,
yen,
Euro,
dong,
tenge,
indianrupee,
tugrik,
peso,
guarani,
hryvnia,
won,
cedi,
turkishlira,
newsheqel,
colonmonetary,
naira,
kip,
euroarchaic,
cruzeiro,
mill,
rupee,
currency,
florin.crcy,
germanpenny,
livretournois,
spesmilo,
austral,
franc,
lira,
peseta,
drachma,
dollar.smcp,
cent.smcp,
sterling.smcp,
yen.smcp,
dong.smcp,
tenge.smcp,
indianrupee.smcp,
tugrik.smcp,
peso.smcp,
guarani.smcp,
hryvnia.smcp,
cedi.smcp,
turkishlira.smcp,
newsheqel.smcp,
colonmonetary.smcp,
kip.smcp,
euroarchaic.smcp,
cruzeiro.smcp,
rupee.smcp,
florin.crcy.smcp,
asciicircum,
plus,
minus,
plusminus,
equal,
notequal,
divide,
less,
greater,
lessequal,
greaterequal,
asciitilde,
approxequal,
multiply,
asteriskmath,
ratio,
underscore,
underscoredbl,
section,
degree,
mu,
paragraph,
numbersign,
periodcentered,
bar,
brokenbar,
dagger,
daggerdbl,
logicalnot,
referencemark,
hyphen,
endash,
emdash,
parenleft,
parenright,
slash,
backslash,
bracketleft,
bracketright,
braceleft,
braceright,
bullet,
guilsinglleft,
guilsinglright,
guillemotleft,
guillemotright,
at,
ampersand,
asterisk,
hyphen.case,
endash.case,
emdash.case,
parenleft.case,
parenright.case,
slash.case,
backslash.case,
bracketleft.case,
bracketright.case,
braceleft.case,
braceright.case,
bullet.case,
guilsinglleft.case,
guilsinglright.case,
guillemotleft.case,
guillemotright.case,
at.case,
softhyphen,
horizontalbar,
parenleft.smcp,
parenright.smcp,
slash.smcp,
backslash.smcp,
bracketleft.smcp,
bracketright.smcp,
braceleft.smcp,
braceright.smcp,
ampersand.smcp,
asterisk.smcp,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
a.smcp,
b.smcp,
c.smcp,
d.smcp,
e.smcp,
f.smcp,
g.smcp,
h.smcp,
i.smcp,
j.smcp,
k.smcp,
l.smcp,
m.smcp,
n.smcp,
o.smcp,
p.smcp,
q.smcp,
r.smcp,
s.smcp,
t.smcp,
u.smcp,
v.smcp,
w.smcp,
x.smcp,
y.smcp,
z.smcp,
telephone,
servicemark,
trademark,
cmod,
n.superior,
omod,
careof,
ordfeminine,
ordmasculine,
numero,
lscript,
estimated,
copyright,
registered,
partialdiff,
product,
summation,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
lozenge,
increment,
degreecelsius,
degreefahrenheit,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
quotereversed,
quotedblreversed,
quoteleft.smcp,
quoteright.smcp,
quotedblleft.smcp,
quotedblright.smcp,
quotereversed.smcp,
quotedblreversed.smcp,
commaturnedmod,
apostrophemod,
commareversedmod,
minute,
second,
minutereversed,
vlinebelowcomb,
dotlessi,
dotlessj,
dotlessi.smcp,
IJ,
Ldot,
ij,
ldot,
napostrophe,
f_f,
fi,
fl,
f_f_i,
f_f_l,
ij.smcp,
ldot.smcp,
Thorn,
Alpha,
Eopen,
Gamma,
Esh,
Upsilon,
Vhook,
Ezh,
AE,
OE,
Germandbls,
thorn,
alpha,
eopen,
gamma,
esh,
upsilon,
vhook,
ezh,
ae,
oe,
germandbls,
longs,
kgreenlandic,
thorn.smcp,
ae.smcp,
oe.smcp,
germandbls.smcp,
Germandbls.c2sc,
Bhook,
Chook,
Dhook,
Dafrican,
Fhook,
Ghook,
Hhook,
Iota,
Khook,
Eng,
Nhookleft,
Phook,
Rtail,
Tretroflexhook,
Whook,
Yhook,
bhook,
chook,
dhook,
dtail,
florin,
ghook,
hhook,
iota,
khook,
eng,
nhookleft,
phook,
rtail,
tretroflexhook,
whook,
yhook,
eng.smcp,
Oopen,
Schwa,
Ereversed,
Hturned,
Vturned,
oopen,
schwa,
eturned,
hturned,
vturned,
Eth,
Dcroat,
Hbar,
Istroke,
Obar,
Ubar,
Tbar,
Lslash,
Oslash,
eth,
dcroat,
hbar,
istroke.dotless,
istroke,
obarred,
ubar,
tbar,
lslash,
oslash,
eth.smcp,
dcroat.smcp,
hbar.smcp,
istroke.smcp,
obarred.smcp,
ubar.smcp,
tbar.smcp,
lslash.smcp,
oslash.smcp,
cedillacomb,
cedillacomb.cap,
cedilla,
ogonekcomb,
ogonekcomb.cap,
ogonek,
Ccedilla,
Hcedilla,
Scedilla,
Tcedilla,
Aogonek,
Eogonek,
Iogonek,
Uogonek,
ccedilla,
hcedilla,
scedilla,
tcedilla,
aogonek,
eogonek,
iogonek.dotless,
iogonek,
uogonek,
ccedilla.smcp,
hcedilla.smcp,
scedilla.smcp,
tcedilla.smcp,
aogonek.smcp,
eogonek.smcp,
iogonek.smcp,
uogonek.smcp,
acutecomb,
acutecomb.cap,
acutecomb.smcp,
acutemod,
acute,
hungarumlautcomb,
hungarumlautcomb.cap,
hungarumlautcomb.smcp,
hungarumlaut,
Aacute,
Cacute,
Eacute,
Gacute,
Iacute,
Lacute,
Macute,
Nacute,
Oacute,
Racute,
Sacute,
Uacute,
Wacute,
Yacute,
Zacute,
AEacute,
Oslashacute,
Ohungarumlaut,
Uhungarumlaut,
aacute,
cacute,
eacute,
gacute,
iacute,
lacute,
macute,
nacute,
oacute,
racute,
sacute,
uacute,
wacute,
yacute,
zacute,
aeacute,
oslashacute,
ohungarumlaut,
uhungarumlaut,
aacute.smcp,
cacute.smcp,
eacute.smcp,
gacute.smcp,
iacute.smcp,
lacute.smcp,
macute.smcp,
nacute.smcp,
oacute.smcp,
racute.smcp,
sacute.smcp,
uacute.smcp,
wacute.smcp,
yacute.smcp,
zacute.smcp,
aeacute.smcp,
oslashacute.smcp,
ohungarumlaut.smcp,
uhungarumlaut.smcp,
gravecomb,
gravecomb.cap,
gravecomb.smcp,
gravemod,
grave,
Agrave,
Egrave,
Igrave,
Ograve,
Ugrave,
Wgrave,
Ygrave,
agrave,
egrave,
igrave,
ograve,
ugrave,
wgrave,
ygrave,
agrave.smcp,
egrave.smcp,
igrave.smcp,
ograve.smcp,
ugrave.smcp,
wgrave.smcp,
ygrave.smcp,
circumflexcomb,
circumflexcomb.cap,
circumflexcomb.asc,
circumflex,
tildecomb,
tildecomb.cap,
tildecomb.asc,
tilde,
Acircumflex,
Ccircumflex,
Ecircumflex,
Gcircumflex,
Hcircumflex,
Icircumflex,
Jcircumflex,
Ocircumflex,
Scircumflex,
Ucircumflex,
Wcircumflex,
Ycircumflex,
Atilde,
Etilde,
Itilde,
Ntilde,
Otilde,
Utilde,
Ytilde,
acircumflex,
ccircumflex,
ecircumflex,
gcircumflex,
hcircumflex,
icircumflex,
jcircumflex,
ocircumflex,
scircumflex,
ucircumflex,
wcircumflex,
ycircumflex,
atilde,
etilde,
itilde,
ntilde,
otilde,
utilde,
ytilde,
acircumflex.smcp,
ccircumflex.smcp,
ecircumflex.smcp,
gcircumflex.smcp,
hcircumflex.smcp,
icircumflex.smcp,
jcircumflex.smcp,
ocircumflex.smcp,
scircumflex.smcp,
ucircumflex.smcp,
wcircumflex.smcp,
ycircumflex.smcp,
atilde.smcp,
etilde.smcp,
itilde.smcp,
ntilde.smcp,
otilde.smcp,
utilde.smcp,
ytilde.smcp,
caroncomb,
caroncomb.cap,
caron,
commaaboverightcomb,
commaaboverightcomb.short,
macroncomb,
macroncomb.cap,
macroncomb.narrow,
macroncomb.narrow.cap,
macronmod,
macron,
Acaron,
Ccaron,
Dcaron,
Ecaron,
Gcaron,
Icaron,
Lcaron,
Ncaron,
Ocaron,
Rcaron,
Scaron,
Tcaron,
Ucaron,
Zcaron,
Amacron,
Emacron,
Imacron,
Omacron,
Umacron,
acaron,
ccaron,
dcaron,
ecaron,
gcaron,
icaron,
lcaron,
ncaron,
ocaron,
rcaron,
scaron,
tcaron,
ucaron,
zcaron,
amacron,
emacron,
imacron,
omacron,
umacron,
acaron.smcp,
ccaron.smcp,
dcaron.smcp,
ecaron.smcp,
gcaron.smcp,
icaron.smcp,
lcaron.smcp,
ncaron.smcp,
ocaron.smcp,
rcaron.smcp,
scaron.smcp,
tcaron.smcp,
ucaron.smcp,
zcaron.smcp,
amacron.smcp,
emacron.smcp,
imacron.smcp,
omacron.smcp,
umacron.smcp,
dieresiscomb,
dieresiscomb.cap,
dieresiscomb.narrow,
dieresiscomb.narrow.cap,
dieresis,
brevecomb,
brevecomb.cap,
breve,
Adieresis,
Edieresis,
Idieresis,
Odieresis,
Udieresis,
Wdieresis,
Ydieresis,
Abreve,
Ebreve,
Gbreve,
Ibreve,
Obreve,
Ubreve,
adieresis,
edieresis,
idieresis,
odieresis,
udieresis,
wdieresis,
ydieresis,
abreve,
ebreve,
gbreve,
ibreve,
obreve,
ubreve,
adieresis.smcp,
edieresis.smcp,
idieresis.smcp,
odieresis.smcp,
udieresis.smcp,
wdieresis.smcp,
ydieresis.smcp,
abreve.smcp,
ebreve.smcp,
gbreve.smcp,
ibreve.smcp,
obreve.smcp,
ubreve.smcp,
dotaccentcomb,
dotaccentcomb.cap,
dotaccent,
hookabovecomb,
hookabovecomb.cap,
Edotaccent,
Idotaccent,
Cdotaccent,
Gdotaccent,
Ndot,
Zdotaccent,
Ahoi,
Ehoi,
Ihoi,
Ohoi,
Uhoi,
Yhoi,
edotaccent,
i.locl,
cdotaccent,
gdotaccent,
ndot,
zdotaccent,
ahoi,
ehoi,
ihoi,
ohoi,
uhoi,
yhoi,
edotaccent.smcp,
i.locl.1,
cdotaccent.smcp,
gdotaccent.smcp,
ndot.smcp,
zdotaccent.smcp,
dotbelowcomb,
dotbelowcomb.cap,
commaaccentcomb,
commaaccentcomb.cap,
commaturnedabovecomb,
commaaccent,
Adotbelow,
Edotbelow,
Idotbelow,
Odotbelow,
Sdotbelow,
Udotbelow,
Ydotbelow,
Dcedilla,
Gcommaaccent,
Kcommaaccent,
Lcommaaccent,
Ncommaaccent,
Rcommaaccent,
Scommaaccent,
Tcommaaccent,
adotbelow,
edotbelow,
idotbelow,
odotbelow,
sdotbelow,
udotbelow,
ydotbelow,
dcedilla,
gcommaaccent,
kcommaaccent,
lcommaaccent,
ncommaaccent,
rcommaaccent,
scommaaccent,
tcommaaccent,
adotbelow.smcp,
edotbelow.smcp,
idotbelow.smcp,
odotbelow.smcp,
sdotbelow.smcp,
udotbelow.smcp,
ydotbelow.smcp,
dcedilla.smcp,
gcommaaccent.smcp,
kcommaaccent.smcp,
lcommaaccent.smcp,
ncommaaccent.smcp,
rcommaaccent.smcp,
scommaaccent.smcp,
tcommaaccent.smcp,
ringcomb,
ringcomb.cap,
ring,
ringcomb_acutecomb,
Aring,
Uring,
angstrom,
Aringacute,
aring,
uring,
aringacute,
aring.smcp,
uring.smcp,
aringacute.smcp,
horncomb,
Ohorn,
Uhorn,
Ohornacute,
Uhornacute,
Ohorngrave,
Uhorngrave,
Ohornhoi,
Uhornhoi,
Ohorntilde,
Uhorntilde,
Ohorndotbelow,
Uhorndotbelow,
ohorn,
uhorn,
ohornacute,
uhornacute,
ohorngrave,
uhorngrave,
ohornhoi,
uhornhoi,
ohorntilde,
uhorntilde,
ohorndotbelow,
uhorndotbelow,
A.short,
E.short,
O.short,
circumflexcomb_acutecomb,
circumflexcomb_acutecomb.cap,
circumflexcomb_gravecomb,
circumflexcomb_gravecomb.cap,
circumflexcomb_hookabovecomb,
circumflexcomb_hookabovecomb.cap,
circumflexcomb_tildecomb,
circumflexcomb_tildecomb.cap,
Acircumflexacute,
Ecircumflexacute,
Ocircumflexacute,
Acircumflexgrave,
Ecircumflexgrave,
Ocircumflexgrave,
Acircumflexhoi,
Ecircumflexhoi,
Ocircumflexhoi,
Acircumflextilde,
Ecircumflextilde,
Ocircumflextilde,
Acircumflexdotbelow,
Ecircumflexdotbelow,
Ocircumflexdotbelow,
acircumflexacute,
ecircumflexacute,
ocircumflexacute,
acircumflexgrave,
ecircumflexgrave,
ocircumflexgrave,
acircumflexhoi,
ecircumflexhoi,
ocircumflexhoi,
acircumflextilde,
ecircumflextilde,
ocircumflextilde,
acircumflexdotbelow,
ecircumflexdotbelow,
ocircumflexdotbelow,
brevecomb_acutecomb,
brevecomb_acutecomb.cap,
brevecomb_gravecomb,
brevecomb_gravecomb.cap,
brevecomb_hookabovecomb,
brevecomb_hookabovecomb.cap,
brevecomb_tildecomb,
brevecomb_tildecomb.cap,
Abreveacute,
Abrevegrave,
Abrevehoi,
Abrevetilde,
Abrevedotbelow,
abreveacute,
abrevegrave,
abrevehoi,
abrevetilde,
abrevedotbelow,
dotaccentcomb_gravecomb,
dotaccentcomb_gravecomb.cap,
dotaccentcomb_acutecomb,
dotaccentcomb_acutecomb.cap,
dotaccentcomb_tildecomb,
dotaccentcomb_tildecomb.cap,
macroncomb_acutecomb,
macroncomb_acutecomb.cap,
macroncomb_tildecomb,
macroncomb_tildecomb.cap,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
Aiecyr,
Eukrcyr,
Schwacyr,
Shhacyr,
Iukrcyr,
Palochkacyr,
Jecyr,
Dzecyr,
Dzeabkhcyr,
Reversedzecyr,
Ljecyr,
Njecyr,
Tshecyr,
Djecyr,
Dzhecyr,
Geupcyr,
Cheabkhcyr,
Haabkhcyr,
Ustraightcyr,
aiecyr,
eukrcyr,
schwacyr,
shhacyr,
iukrcyr,
palochkacyr,
jecyr,
dzecyr,
dzeabkhcyr,
reversedzecyr,
ljecyr,
njecyr,
tshecyr,
djecyr,
dzhecyr,
geupcyr,
cheabkhcyr,
haabkhcyr,
ustraightcyr,
becyr.locl,
iukrcyr.dotless,
Getailcyr,
Zhetailcyr,
Katailcyr,
Entailcyr,
Tetailcyr,
Xatailcyr,
Chetailcyr,
Tetsecyr,
Chekhakascyr,
Petailcyr,
Zetailcyr,
Estailcyr,
Cheabkhtailcyr,
Elsharptailcyr,
Emsharptailcyr,
Ensharptailcyr,
getailcyr,
zhetailcyr,
katailcyr,
entailcyr,
tetailcyr,
xatailcyr,
chetailcyr,
tetsecyr,
chekhakascyr,
petailcyr,
zetailcyr,
estailcyr,
cheabkhtailcyr,
elsharptailcyr,
emsharptailcyr,
ensharptailcyr,
Semisoftcyr,
Gestrokecyr,
Kastrokecyr,
Ustraightstrokecyr,
Obarcyr,
Hastrokecyr,
Gehookstrokecyr,
Kaverticalstrokecyr,
Chevertcyr,
Ertickcyr,
semisoftcyr,
gestrokecyr,
kastrokecyr,
ustraightstrokecyr,
obarcyr,
hastrokecyr,
gehookstrokecyr,
kaverticalstrokecyr,
chevertcyr,
ertickcyr,
Kabashkcyr,
Engecyr,
Kahookcyr,
Elhookcyr,
Hahookcyr,
Enhookcyr,
Gehookcyr,
Pehookcyr,
kabashkcyr,
engecyr,
kahookcyr,
elhookcyr,
hahookcyr,
enhookcyr,
gehookcyr,
pehookcyr,
Adieresiscyr,
Iocyr,
Schwadieresiscyr,
Idieresiscyr,
Yukrcyr,
Zhedieresiscyr,
Zedieresiscyr,
Odieresiscyr,
Obardieresiscyr,
Ereverseddieresiscyr,
Udieresiscyr,
Chedieresiscyr,
Ylongdieresiscyr,
Gjecyr,
Kjecyr,
Iegravecyr,
Igravecyr,
adieresiscyr,
iocyr,
schwadieresiscyr,
idieresiscyr,
yukrcyr,
zhedieresiscyr,
zedieresiscyr,
odieresiscyr,
obardieresiscyr,
ereverseddieresiscyr,
udieresiscyr,
chedieresiscyr,
ylongdieresiscyr,
gjecyr,
kjecyr,
iegravecyr,
igravecyr,
brevecomb.cyrl,
brevecomb.cyrl.cap,
Ishortsharptailcyr.comp,
ishortsharptailcyr.comp,
Abrevecyr,
Iebrevecyr,
Zhebrevecyr,
Ishortcyr,
Ushortcyr,
Ishortsharptailcyr,
Imacroncyr,
Umacroncyr,
Uacutedblcyr,
abrevecyr,
iebrevecyr,
zhebrevecyr,
ishortcyr,
ushortcyr,
ishortsharptailcyr,
imacroncyr,
umacroncyr,
uacutedblcyr,
Alpha-grek,
Beta,
Gamma-grek,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota-grek,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon-grek,
Phi,
Chi,
Psi,
Omega,
Ohm,
alpha-grek,
beta,
gamma-grek,
delta,
epsilon,
zeta,
eta,
theta,
iota-grek,
kappa,
lambda,
mu-grek,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon-grek,
phi,
chi,
psi,
omega,
theta.math,
Upsilonhooksymbol,
phisymbol,
pisymbol,
anoteleia,
Iotadieresis,
Upsilondieresis,
iotadieresis,
upsilondieresis,
acutecomb.grek,
acutecomb.grek.cap,
tonos,
dialytikatonoscomb,
dieresistonos,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
omicrontonos,
upsilontonos,
omegatonos,
iotadieresistonos,
upsilondieresistonos,
reversedcommacomb_acutecomb.grek.cap,
Omicronasperacute,
circledotted,
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
lefttorightembed,
righttoleftembed,
popdirectionalformatting,
lefttorightoverride,
righttoleftoverride,
replacementcharobj,
zerowidthnobreakspace,
replacementchar,
at.smcp,
Elcyr.loclBGR,
Decyr.loclBGR,
kacyr.loclBGR,
zhecyr.loclBGR,
pecyr.loclBGR,
tecyr.loclBGR,
icyr.loclBGR,
ishortcyr.loclBGR,
igravecyr.loclBGR,
shacyr.loclBGR,
shchacyr.loclBGR,
tsecyr.loclBGR,
decyr.loclBGR,
vecyr.loclBGR,
gecyr.loclBGR,
softcyr.loclBGR,
hardcyr.loclBGR,
elcyr.loclBGR,
zecyr.loclBGR,
yucyr.loclBGR,
idieresis.calt,
idieresis.calt2,
Idieresis.calt,
Idieresis.calt2,
)
